.st-emotion-cache-uf99v8 {
    background-image: url("https://img.freepik.com/premium-vector/abstract-pattern-background-with-futuristic-modern-style-concept_7505-2435.jpg");
    background-position: center;
    background-origin: content-box;
}
